{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/articles/article-detail.css' %}"
/>
<script defer src="{% static 'js/article-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="article-container">
  <div class="article-details">
    <div class="article-title">
      <h1>{{ article.title }}</h1>
      <hr />
    </div>
    <div class="date">
      <p class="created"><small>{{ article.created_at|date:"m.d.Y" }}</small></p>
    </div>
    <div class="content-main">
      <p>{{ article.content_main }}</p>
    </div>
    <div class="media-container">

      <div class="photo-section1">
        {% if article.photo.url %}
          <img 
            src="{{article.photo.url}}" 
            alt="A photo of {{article.title}}"
            class="usr-img"
          >
        {% else %}
        <img 
          class="img1"
          src="{% static 'images/1.jpeg' %}" 
          alt="A card logo"
        >
        {% endif %}
        {% comment %} <img 
          class="img2"
          src="{% static 'images/2.jpeg' %}" 
          alt="A card logo"
        > {% endcomment %}
      </div>
      <div class="content-section1">
        <p>{{ article.content_section_1 }}</p>
      </div>
      <div class="photo-section2">
        <img 
        class="img2"
        src="{% static 'images/3.jpeg' %}" 
        alt="A card logo"
        >
      </div>
      <div class="content-section2">
        <p>{{ article.content_section_2 }}</p>
      </div>
    </div>
    {% if user.is_authenticated %}
      <div class="like btn">
        <img
          id="likeButton"
          src="{% if user.is_authenticated and article.likes > 0 %}{% static 'images/liked.png' %}{% else %}{% static 'images/like.png' %}{% endif %}"
          alt="like"
          data-article-id="{{ article.id }}"
          class="{% if user.is_authenticated and article.likes > 0 %}liked{% endif %}"
        >
        <span id="likeCount">{{ article.likes }}</span>
      </div>       
    {% endif %}
    <div class="article-actions">
      {% if user.is_superuser %}
        <a href="{% url 'article-update' article.id %}" class="btn warn">Edit</a>
        <a href="{% url 'article-delete' article.id %}" class="btn danger">Delete</a>
      {% endif %}
    </div> 

    <h3>Change Photo</h3>
    <p id="file-name"></p>
    <form 
      action="{% url 'add-photo' article.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>

    <hr class="line" />   
  </div>
</section>

{% endblock %}