{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/articles/article-index.css' %}"
/>
{% endblock %}

{% block content %}

{% comment %} <img src="{% static 'images/cool-cat.svg' %}" alt="A cool cat" />
<img src="{% static 'images/happy-cat.svg' %}" alt="A happy cat" />
<img src="{% static 'images/teacup-cat.svg' %}" alt="A cat in a teacup" />
<img src="{% static 'images/cat-in-box.svg' %}" alt="A cat in a box" /> {% endcomment %}
<section class="page-header">
  <p>Articles</p>
</section>

<section class="card-container">
  {% for article in articles %}
    <div class="card">
      <a href="{% url 'article-detail' article.id %}">
        <div class="card-content">
          <div class="card-img-container">
            {% if article.photo.url %}
              <img 
                src="{{article.photo.url}}" 
                alt="An article photo"
                class="usr-img"
              >
            {% else %}
              <img 
                src="{% static 'images/cover.jpeg' %}" 
                alt="A card pic"
              >
            {% endif %}
          </div>
          <h2 class="card-title">{{ article.title }}</h2>
          <p class="created"><small>{{ article.created_at|date:"m.d.Y" }}</small></p>
          <p><small>{{ article.main_content}}</small></p>
          <p class="read-p">Read Article</p>
        </div>
      </a>
      {% if user.is_authenticated %}
      {% csrf_token %}
      <div class="like btn">
        <img
        id="likeButton"
        src="{% static 'images/liked.png' %}"
        alt="like"
        data-article-id="{{ article.id }}"
        >
        <span id="likeCount">{{ article.likes }}</span>
      </div>           
      {% endif %} 
      <hr />
    </div>
  {% endfor %}
</section>

{% endblock %}