{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/articles/article-index.css' %}"
/>
{% endblock %}

{% block content %}

<div class='heading'>
  <p>Articles</p>
</div>
<section class="page-header">
  <div class='paragraphs'>
    {% if no_results %}
    <p id='no-results'>No results found</p>
    {% endif %}
  </div>
  <div class='search-form-container'>
    <form id='search-form' method="get">
      {% csrf_token %}
      {{ search_form }}
      <button type="submit">
        <img id='search' src="{% static 'images/search.png' %}" alt="search" /> 
      </button>
    </form>
  </div>
</section>
<section class="card-container">
  {% for article in page_obj %}
    <div class="card">
      <a href="{% url 'article-detail' article.id %}">
        <div class="card-content">
          <div class="card-img-container">
            {% if article.photos.all %}
              <img src="{{ article.photos.first.url }}" alt="A card logo">
            {% else %}
              <img 
                src="{% static 'images/cover.jpeg' %}" 
                alt="A card pic"
              >
            {% endif %}
          </div>
          <h2 class="card-title">{{ article.title }}</h2>
          <p class="topic"><small>{{ article.topic}}</small></p>
          <p class="created"><small>{{ article.created_at|date:"m.d.Y" }}</small></p>
          <p><small>{{ article.main_content}}</small></p>
          <p class="read-p">Read Article</p>
        </div>
      </a>
      {% if user.is_authenticated %}
      {% csrf_token %}
      <div class="like btn">
        <img
        id="likeButton"
        src="{% static 'images/liked.png' %}"
        alt="like"
        data-article-id="{{ article.id }}"
        >
        <span id="likeCount">{{ article.likes }}</span>
      </div>           
      {% endif %} 
      <hr class="index-line" />
    </div>
    {% endfor %}      
</section>
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; Previous</a>
    {% endif %}
  
    {% for i in page_obj.paginator.page_range %}
      {% if i == page_obj.number %}
        <span class="current current-page">{{ i }}</span>
      {% else %}
        <a href="?page={{ i }}">{{ i }}</a>
      {% endif %}
    {% endfor %}
  
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next &rsaquo;</a>
    {% endif %}
  </span>
</div>

<div class='footer-index'>
  <hr id='detail-hr' />   
  <p id='landing-video-detail'>The journal</p>
  <hr id='detail-hr' />
</div>

{% endblock %}