{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/articles/article-index.css' %}"
/>
{% endblock %}

{% block content %}

{% comment %} <img src="{% static 'images/cool-cat.svg' %}" alt="A cool cat" />
<img src="{% static 'images/happy-cat.svg' %}" alt="A happy cat" />
<img src="{% static 'images/teacup-cat.svg' %}" alt="A cat in a teacup" />
<img src="{% static 'images/cat-in-box.svg' %}" alt="A cat in a box" /> {% endcomment %}
<section class="page-header">
  <p>Articles</p>
</section>

<section class="card-container">
  {% for article in articles %}
    <div class="card">
      <a href="{% url 'article-detail' article.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/header-logo.png' %}" 
              alt="A card logo"
            >
          </div>
          <h2 class="card-title">{{ article.title }}</h2>
          <p><small> <span clas="created">Created at </span> {{ article.created_at|date:"F d, Y" }}</small></p>
          <p><small>{{ article.main_content}}</small></p>
          <hr />
          <p>Read Article</p>
        </div>
      </a>
      {% if user.is_authenticated %}
        {% csrf_token %}
        <div class="like btn">
          <img
            id="likeButton"
            src="{% static 'images/liked.png' %}"
            alt="like"
            data-article-id="{{ article.id }}"
          >
          <span id="likeCount">{{ article.likes }}</span>
        </div>           
      {% endif %} 
    </div>
  {% endfor %}
</section>

{% endblock %}