{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  {% if article %}
    <p id='edit-article'>Edit Article</p>
  {% else %}
    <p id='create-article'>Create Article</p>
  {% endif %}
</div>
<form action="" method="post" class="create-form-container">
  {% csrf_token %}
  <table id='create-article-table'>
    {{ form.as_table }}
  </table>
  <button type="submit" id='create-button' class="btn submit">
    {% if article %}
      Update
    {% else %}
      Create
    {% endif %}
  </button>
</form>

{% endblock %}