{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-container">
  <div class="page-header">
    <p id='delete-confirm'>Delete Article</p>
    <p id='delete-question'>Are you sure you want to delete article?</p>
  </div>

  <form action="" method="post" class="form-delete">
    {% csrf_token %}
    <div class="button-container">
      <a href="{% url 'article-detail' article.id %}" class="btn secondary">Cancel</a>
      <button type="submit" id='delete-button' class="btn danger">Delete</button>
    </div>
  </form>
</div>

{% endblock %}