{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/favicon.png' %}"
  >
  <title>The Journal</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <script defer src="{% static 'js/transition.js' %}"></script>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header id='main-header'>
    <div class="header-logo-container circle">
      <a href="/">
        <p id="main-heading">The Journal</p>
      </a>
    </div> 
    <nav>
      <hr class="nav-line" />
      <ul>
        {% if user.is_authenticated %}
          {% if user.is_superuser %}
            <li><a href="{% url 'article-create' %}">Create</a></li>
          {% endif %}
          <li><a href="{% url 'article-index' %}">Articles</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
          <li><a href="{% url 'article-index' %}">Articles</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'login' %}">
            <img id="user-icon"
              src="{% static 'images/user.png' %}"
              alt="User"
            >
          </a></li>
        {% endif %}
      </ul>
      <hr class="nav-line" />
    </nav>    
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>