{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<script defer src="{% static 'js/transition.js' %}"></script>
{% endblock %}

{% block content %}
<div class="landingPage">
  <div class="landingVideo">
    <video id="landingVideo" autoplay muted loop src="{% static 'images/landing1.mov' %}"></video> 
  </div>
  <p id='landing-video-home'>The journal</p>
  <p id='dot-line'>♦───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────♦</p>
  <div class='about-section'>
    <div class='about-pics'>
      <img id='second-pic' class="about-img slide-in" src="{% static 'images/landing4.png' %}" alt="image" />
      <img id='first-pic' class="about-img slide-in" src="{% static 'images/landing7.png' %}" alt="image" />
    </div>
    <div class='about-link'>
      <p id='learn-more'>About <br> The Journal<p>
      <a href="{% url 'about' %}" id="tapHere">Tap Here</a>
    </div>
  </div>
  <p id='dot-line'>♦───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────♦</p>
  <div class='articles-section'>
    <div class='articles-pics'>
      <img id='article-pic2' class="articles-img slide-in" src="{% static 'images/landing3.png' %}" alt="image" />
    </div>
    <div class='articles-link'>
      <p id='learn-more'><span id='articles'> all </span> <br> Articles<p>
      <a href="{% url 'article-index' %}" id="tapArrow">
        <img id='arrow' src="{% static 'images/arrow.png' %}" alt="arrow" />  
      </a>
    </div>
  </div>
  <hr id='landing-hr1' />
  <p id='landing-video-landing'>The journal</p>
  <hr id='landing-hr' />
</div>

{% endblock %}



