{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Log In</h1>
</div>
{% if form.errors %}
  <p class="red-text">Invalid log in - try again</p>
{% endif %}
<section>
  <form action="{% url 'login' %}" method="post" class="login">
    {% csrf_token %}
    {{ form.username.label_tag }} {{ form.username }}
    {{ form.password.label_tag }} {{ form.password }}
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>

{% endblock %}