{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  <p id='signup'>Sign Up</p>
</div>
<form action="" method="post" class="signupform-container" autocomplete="off">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" id='signup-button' class="btn submit">Sign Up</button>
  {% if error_message %}
    <p class="red-text">{{ error_message }}</p>
  {% endif %}
</form>

{% endblock %}