@font-face {
  font-family: 'Culture';
  src: url('../font/Culture.otf') format('truetype');
  font-family: 'Colgent';
  src: url('../font/Colgent Regular.ttf') format('truetype');
  font-family: 'FONTSPRING DEMO - The Seasons Light';
  src: url('../font/Fontspring-DEMO-theseasons-lt.otf') format('truetype');
  font-family: 'MADE TheArtist Script';
  src: url('../font/MADE TheArtist Script PERSONAL USE.otf') format('truetype');
  font-family: 'BDScript-Regular';
  src: url('../font/FontsFree-Net-BeautifullyDelicious.ttf') format('truetype');
}

body {
  background-color: #f5f0ea;
  font-family: 'Colgent', sans-serif; 
  /* font-family: 'FONTSPRING DEMO - The Seasons Light', sans-serif;  */
}

.circle{
  background-image: url(../images/circle.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; 
  width: 100px; 
  height: 100px; 
  margin: 0 auto;
}

p#main-heading {
  font-family: 'FONTSPRING DEMO - The Seasons Light', sans-serif; 
  /* font-family: 'Colgent', sans-serif;  */
  color: #191713;
  font-size: 40px;
  padding-top: 28px;
}

nav {
  margin: 10px;
  margin: 30px 0;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #191713;
  font-weight: 100;
  font-size: 15px;
}

.header-logo-container {
  width: 100%;
  text-align: center;
}

.header-logo-container a {
  text-decoration: none;
}

nav a:hover {
  color: #64613e;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav li {
  padding: 5px 8px;
  margin: 0 8px; 
}

img#user-icon {
  width: 15px;
  height: 15px;
  padding-top: 3px;
}

hr.nav-line {
  border-width: 0.1px; 
  width: 80%; 
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh;
}

#delete-confirm,
#delete-question {
  text-align: center;
}

#delete-confirm {
  padding-bottom: 5px;
  border-bottom: solid 0.5px black;
  font-size: 20px;
}

.form-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-delete a {
  text-decoration: none;
  background-color: transparent;
  border: solid 0.5px black;
  border-radius: 50%;
  padding: 9px 20px;
  cursor: pointer;
  color: black;
  font-size: 14px;
  width: 52px;
  text-align: center;
  margin-right: 10px;
  padding-top: 8px;
}

.form-delete a:hover {
  box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.1);
  color: black;
  border: solid 0.5px #64613e;
}

#delete-button{
  background-color: transparent;
  border: solid 0.5px black;
  border-radius: 50%;
  padding: 10px 20px;
  cursor: pointer;
  color: black;
  font-family: 'FONTSPRING DEMO - The Seasons Light', sans-serif; 
  text-transform: capitalize;
}

#delete-button:hover {
  box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.1);
  color: black;
  border: solid 0.5px #64613e;
}


.about-heading {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.about-line {
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 20px;
}

.about-heading h1 {
  font-family: 'FONTSPRING DEMO - The Seasons Light', sans-serif; 
  font-size: 110px;
  text-transform: uppercase;
  margin-right: 30px;
  margin-left: 105px;
}

.about-heading p {
  text-align: center;
  font-size: 20px;
  font-style: italic;
}

.about-p {
  display: flex;
  width: 50%;
  margin: 0 auto;
}

p.page-content {
  color: red;
  padding-left: 6%;
  padding-bottom: 6%;
  padding-right: 0;
  font-size: 15px;
  max-height: 100%;
  max-width: 100%;
  color: black;
  columns: 2;
  column-gap: 35px;
  margin-right: 20px;
  margin: 2%;
  line-height: 1.9;
  break-inside: avoid-column; 
  margin-right: 5%;
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about-img {
  max-width: 25%;
  height: 400px;
  margin-bottom: 40px;
  margin-right: 20px;
}

hr#about-hr {
  width: 93%;
}

p#journal {
  font-family: 'MADE TheArtist Script', sans-serif; 
  font-size: 50px;
  margin-bottom: 0;
}

#long-dash {
  font-size: 8px;
}

span#thejournal {
  font-family: 'BDScript-Regular', sans-serif; 
  font-size: 25px;
  line-height: 1;
}