@font-face {
  font-family: 'Culture';
  src: url('../font/Culture.otf') format('truetype');
  font-family: 'Colgent';
  src: url('../font/Colgent Regular.ttf') format('truetype');
  font-family: 'FONTSPRING DEMO - The Seasons Light';
  src: url('../Fontspring-DEMO-theseasons-lt.otf') format('truetype');
}

body {
  /* background-color: rgb(239, 235, 224); */
  /* background-color: #f5f0ea; */
  font-family: 'Colgent', sans-serif; 
  /* font-family: 'FONTSPRING DEMO - The Seasons Light', sans-serif;  */
  background-color: #f0e8dd;
}

p#main-heading {
  font-family: 'FONTSPRING DEMO - The Seasons Light', sans-serif; 
  /* font-family: 'Colgent', sans-serif;  */
  color: #191713;
  font-size: 25px;
}

nav {
  margin: 10px;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #191713;
  font-weight: 100;
  font-size: 15px;
}

.header-logo-container {
  width: 100%;
  text-align: center;
}

.header-logo-container a {
  text-decoration: none;
}

nav a:hover {
  color: #64613e;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav li {
  padding: 5px 8px;
}

img#user-icon {
  width: 13px;
  height: 15px;
  padding-top: 3px;
}