@font-face {
  font-family: 'Culture';
  src: url('../font/Culture.otf') format('truetype');
  font-family: 'Colgent';
  src: url('../font/Colgent Regular.ttf') format('truetype');
  font-family: 'FONTSPRING DEMO - The Seasons Light';
  src: url('../Fontspring-DEMO-theseasons-lt.otf') format('truetype');
}

body {
  background-color: #f5f0ea;
  font-family: 'Colgent', sans-serif; 
  /* font-family: 'FONTSPRING DEMO - The Seasons Light', sans-serif;  */
}

.circle{
  background-image: url(../images/circle.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; 
  width: 100px; 
  height: 100px; 
  margin: 0 auto;
}

p#main-heading {
  font-family: 'FONTSPRING DEMO - The Seasons Light', sans-serif; 
  /* font-family: 'Colgent', sans-serif;  */
  color: #191713;
  font-size: 40px;
  padding-top: 28px;
}

nav {
  margin: 10px;
  margin: 30px 0;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #191713;
  font-weight: 100;
  font-size: 15px;
}

.header-logo-container {
  width: 100%;
  text-align: center;
}

.header-logo-container a {
  text-decoration: none;
}

nav a:hover {
  color: #64613e;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav li {
  padding: 5px 8px;
}

img#user-icon {
  width: 15px;
  height: 15px;
  padding-top: 3px;
}

hr.nav-line {
  border-width: 0.1px; 
  width: 80%; 
}