.page-header {
  width: 100%;
  text-align: center;
  background-image: url(../images/signup.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; 
  width: 250px; 
  height: 250px; 
  margin: 0 auto;
}

#signup,
#login {
  font-size: 25px;
  padding-top: 30%;
}

#create-article,
#edit-article {
  font-size: 20px;
  padding-top: 30%;
}

.signupform-container,
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.create-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

#create-article-table {
  width: 100%;
}

#create-article-table td {
  width: 50%; 
  box-sizing: border-box;
  padding: 5px;
}

#create-article-table textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.create-form-container textarea {
  font-family: 'FONTSPRING DEMO - The Seasons Light', sans-serif; 
  font-size: 13px;
  resize: none; 
  overflow-y: scroll; 
  max-height: 130px; 
  background-color: transparent;
  outline: none;
  border: solid 0.5px #64613e;
  box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.1);
}

.create-form-container textarea:focus {
  outline: none;
  font-style: italic;
}

table {
  margin-bottom: 20px;
}

table tr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table td {
  width: 500px;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}

table td li {
  padding-top: 5px;
}

table td input {
  /* height: 15px; */
  height: 10px;
  /* width: 150px; */
  width: 130px;
  background-color: transparent;
  outline: none;
  border: solid 0.5px black;
  /* padding: 20px; */
  padding: 10px;
  margin: 0 auto;
  /* border-radius: 50%; */
  font-family: 'FONTSPRING DEMO - The Seasons Light', sans-serif; 
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.1);
}

table td input:focus {
  outline: none;
}

.helptext {
  font-size: 12px;
  font-style: italic;
}

#signup-button,
#login-button,
#create-button {
  background-color: transparent;
  border: solid 0.5px black;
  border-radius: 50%;
  padding: 10px 20px;
  cursor: pointer;
  color: black;
  font-family: 'FONTSPRING DEMO - The Seasons Light', sans-serif; 
  text-transform: capitalize;
}

#signup-button:hover {
  border: solid 0.5px #64613e;
  box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.1);
  color: black;
}

#login-button:hover {
  box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.1);
  color: black;
  border: solid 0.5px #64613e;
}

#create-button:hover {
  box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.1);
  color: black;
  border: solid 0.5px #64613e;
}

#login-button {
  margin-top: 20px;
}

p.red-text {
  color: #64613e;
  font-size: 15px;
  font-style: italic;
  padding-top: 30px;
  padding-bottom: 5px;
}

#login-form {
  width: 100%;
  text-align: center;
  background-image: url(../images/login.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; 
  width: 320px; 
  height: 320px; 
  margin: 0 auto;
}

#login-form input {
  height: 10px;
  /* width: 150px; */
  width: 130px;
  background-color: transparent;
  outline: none;
  border: solid 0.5px black;
  /* padding: 20px; */
  padding: 8px;
  margin: 0 auto;
  /* border-radius: 50%; */
  font-family: 'FONTSPRING DEMO - The Seasons Light', sans-serif; 
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.1);
}

#login-form input,
#login-form label {
  margin-top: 10px;
}

#signup-link {
  font-style: italic;
}

#signup-link a {
  text-decoration: none;
  color: black;
  border-bottom: solid 0.5px black;
}

#signup-link a:hover {
  color: #64613e;
  border-bottom: solid 0.5px #64613e;
}
