.page-header,
.heading {
  text-align: center;
  margin-top: 0;
}

.heading p {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 0;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 30%; 
  min-height: 300px; 
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.card-content {
  padding: 20px;
}

.card-container a {
  text-decoration: none;
  color: black;
}

.card-img-container {
  text-align: center;

}

.card-img-container img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.card-title {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

.card-title a {
  text-decoration: none;
  color: inherit;
}

.card-title a:hover {
  color: #64613e;
}

.card-content p {
  margin: 0;
}

.like {
  display: flex;
  align-items: center;
}

.like img {
  margin-right: 5px;
}

#likeButton {
  width: 15px;
  height: 15px;
  margin-left: 20px;
}

hr.index-line {
  height: 1px; 
  background-color: black;
  border: none;
  width: 90%;
  margin-top: 20px; 
}

.created {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  width: 50px;
  border-right: solid 1px #ccc;
}

.topic {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  width: 150px;
}

.read-p {
  cursor: pointer;
  padding-top: 20px;
}


.read-p:hover {
  border-bottom: solid 1px #64613e;
  color: #64613e;
  width: 85px;
} 

.footer-index p {
  font-family: 'BDScript-Regular', sans-serif; 
  font-size: 30px;
  line-height: 1;
  text-align: right;
  margin: 0 50px;
}

hr#detail-hr {
  width: 95%;
}

.current-page {
  border-bottom: 0.5px solid #000; 
}

.pagination {
  padding-bottom: 20px;
  text-align: center;
}

.step-links a,
.current-page {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  margin: 0 2px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; 
}

.paragraphs {
  flex: 1; 
  margin-right: 10px; 
}

.search-form-container {
  flex: 1; 
  margin-right: 10px; 
}

#search-form {
  float: right;
  padding-right: 35px;
}

#search-form input {
  height: 25px;
  width: 145px;
  background-color: transparent;
  outline: none;
  border: solid 0.5px black;
  padding: 8px;
  margin: 0 auto;
  font-family: 'FONTSPRING DEMO - The Seasons Light', sans-serif; 
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.1);
}

#search-form button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
}

#search-form button img {
  width: 21px;
  height: 21px; 
}


p#no-results {
  font-size: 18px;
}

@media (max-width: 414px) and (max-height: 896px) {
  
  .page-header p {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .card-container {
    justify-content: space-between;
    overflow: hidden;
  }

  .card {
    width: 30%;
  }

  
  .card-title {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 3px;
  }
  

  .card-content p {
    margin: 0;
  }
  
  
  #likeButton {
    width: 10px;
    height: 10px;
    margin-left: 20px;
  }
  
  hr.index-line {
    height: 0.5px; 
    background-color: black;
    border: none;
    width: 80%;
    margin-top: 10px; 
  }
  
  .created {
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
    width: 50px;
    border-right: solid 1px #ccc;
  }
  
  .topic {
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    width: 90px;
  }
  
  .read-p {
    cursor: pointer;
    padding-top: 20px;
    font-size: 13px;
  }

  .heading p {
    font-size: 30px;
  }

  .paragraphs {
    margin-right: 0; 
  }

  .search-form-container {
    margin-right: 5px; 
  }

  #search-form {
    padding-right: 5px;
  }

  #search-form input {
    height: 20px;
    width: 115px;
    padding: 5px;
    font-size: 11px;
  }

  #search-form button {
    margin-left: 5px;
  }

  #search-form button img {
    width: 18px;
    height: 18px; 
  }


  p#no-results {
    font-size: 13px;
  }

}

@media (min-width: 1853px){
  .card {
    width: 20%;
  }

  .card-container {
    width: 50%;
    margin: 0 auto;
  }

  .footer-index {
    width: 90%;
    margin: 0 auto;
  }

  .page-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  #search-form {
    float: right;
    margin-right: 537px; 
  }

}