
.article-container {
  display: flex;
  justify-content: space-between;
}

.article-details {
  flex: 1; 
  padding: 35px;
}

/* .article-title {
  border-left: solid 1px black;
  padding-left: 20px;
} */

.article-title h1 {
  font-size: 90px;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
} 

.created {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  width: 50px;
}

.media-container {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.photo-section1,
.photo-section2,
.content-section1,
.content-section2 {
  width: 100%;
}

/* img.article-img {
  width: 650px;
  height: 700px;
} */

.photo-section1,
.photo-section2 {
  display: flex;
  justify-content: space-between;
}

.photo-section1 .article-img {
  width: 83%;  
  height: 100%;
}

.photo-section2 img {
  width: 80%;
}

.content-section1 {
  border-left: solid 1px black;
  padding-left: 15px;
}



#likeButton {
  cursor: pointer;
  transition: transform 0.2s; 
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-top: -1%;
}


#likeButton:hover {
  transform: scale(1.1); 
}

.article-actions {
  display: flex;
  justify-content: end;
  gap: 20px; 
  margin-top: 10px; 
  margin-top: -2%;
  margin-right: 2%;
}

.article-actions a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.article-actions a:hover {
  color: #64613e;
}

.article-actions .btn {
  margin: 0; 
}

.line {
  margin-top: 20px;
}

.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.photo-menu img {
  width:20px;
  height: 5px;
  padding: 10px 15px; 
}

.photo-menu img:hover {
  cursor: pointer;
}

.photo-menu .dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  /* background-color: #b6a593; */
  background-color: #392e26;
  min-width: 50px;
  box-shadow: 0px 28px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
  padding: 8px;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

.photo-menu .delete-button {
  display: none;
}

.photo-menu:hover .dropdown-content {
  display: block;
  opacity: 1;
}


.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fcf8f0;
  }

#delete-photo {
  font-family: 'FONTSPRING DEMO - The Seasons Light', sans-serif; 
  text-transform: capitalize;
}

#delete-photo:hover {
  color: #e2d9cd;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  margin-left: 0;
  padding-left: 0;
}

.form-container .btn {
  margin-bottom: 10px;
}

#file-input {
  color: #64613e;
  font-family: 'FONTSPRING DEMO - The Seasons Light', sans-serif; 
  font-style: italic;
  font-size: 13px;
  font-weight: 100;
  display: none;
}

.btn.secondary {
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px 20px;
  border: solid 0.3px black;
  border-radius: 50%;
}

.btn.secondary:hover {
  background-color: #392e26;
  color: white;
}
  
#upload-photo {
  font-family: 'FONTSPRING DEMO - The Seasons Light', sans-serif; 
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-top: -4%;
  width: 80px;
  cursor: pointer;
  border-left: none; 
  border-right: none;
  height: 35px;
  outline: none;
  background: transparent;
  text-transform: capitalize;
  border-radius: 0; 
  font-size: 15px;
  font-weight: 900;
}

#upload-photo:hover {
  /* border-bottom: 1px solid black; */
  color:#64613e;
}

#file-name {
  font-size: 13px;
}

p#landing-video-detail {
  font-family: 'BDScript-Regular', sans-serif; 
  font-size: 30px;
  line-height: 1;
  text-align: right;
  margin: 0 50px;
}